.alerta {
    border-radius: 5px;
    animation: alertaMensagem 2s linear;
}

@keyframes alertaMensagem {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }

}